.cardParent {
    max-width: auto;
}

.info {
    margin-top: 1rem;
}

.github {
    color: #1f1f1f
}

.card-deck .card {
    min-width: 220px;
    margin-top: 15px;
}

.projectInfo {
    text-align: center;
}