.logo {/*Sets size of font part of jumbotron on index.html*/
    font-size: 12px;
}

.lead {/*Sets size of font part of jumbotron on index.html*/
    font-size: 1.40rem;
}

.welcome {/*jumbotron on index html - background color is to make the jumbotron meld into the body background*/
    background-color: rgba(255, 255, 255, 0.945);
    padding-top: 3rem;
    color: #1f1f1f;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    font-family: serif;
}

