.footer { /*styles footer and makes sure footer stays at bottom of page always*/
    width:100%;
    text-align: center;
    background-color: #647490;
    color: rgba(255, 255, 255, 0.945);
    bottom: 0;
    position: fixed;
    height: 50px;
    margin-top: auto;
    z-index: 3; /*needed to keep carousel from scrolling OVER footer at smaller viewports*/
}

.copyrightP {
    margin-bottom: 0;
}

.link {
    color: rgba(255, 255, 255, 0.945);
}
