.contactCon {
    margin-top: 2rem;
}

.thanks {
    color: green;
    font-size: 20px;
    padding-left: 0;
}

.error {
    color: red;
    font-size: 17px;
}

.button {
    padding-right: 0;
}

.contactText {/*incrased font size for the word 'Contact' on contact html*/
    font-size: 23px;
}

h2, h3, h4, h5 {/*sets font-size of other header tags on about html*/
    font-size: 16px;
    color: #1f1f1f
}

a {
    color: #1f1f1f
}

.contactJumbo {
    background-color: rgba(255, 255, 255, 0.945);
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}
/*to test different ways to fix the footer problem on contact page*/
/* .test {
    display: none;
} */

/* .contactLinks {
    padding-bottom: 180px;
} */

.contactLinks, .test {
    border: #a7c6c3 2px solid;
    -webkit-box-shadow: 17px 30px 71px -12px rgba(180,184,183,0.3);
    -moz-box-shadow: 17px 30px 71px -12px rgba(180,184,183,0.3);
    box-shadow: 17px 30px 71px -12px rgba(180,184,183,0.3);
}