.contactCon {
    margin-top: 2rem;
}

.contactText {/*incrased font size for the word 'Contact' on contact html*/
    font-size: 23px;
}

h2, h3, h4, h5 {/*sets font-size of other header tags on about html*/
    font-size: 16px;
    color: #1f1f1f
}

a {
    color: #1f1f1f
}

.contactJumbo {
    background-color: rgba(255, 255, 255, 0.945);
    padding: 0;
}