/*Works with styling of footer to keep footer always at the bottom*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.App {
    background-color:rgba(255, 255, 255, 0.945);
    font-family: serif;
}